-# SPDX-FileCopyrightText: Copyright (c) 2009-2026 Yegor Bugayenko
-# SPDX-License-Identifier: MIT

- the_bout = nil
- query = Nb::Query.new(q)
- query.predicate.if_bout { |b| the_bout = b }

- unless the_bout.nil?
  - bout = current_human.bouts.take(the_bout)
  - raise Nb::Urror, "You can't access bout ##{the_bout}" unless bout.mine?

%form{action: iri, method: 'get'}
  %fieldset
    %input{name: 'q', type: 'text', required: true, value: q}
    %button{type: 'submit'}
      Search

%pre= query.predicate

- unless the_bout.nil?
  %form{action: iri.cut('/b').append(the_bout).append('/post'), method: 'post'}
    %fieldset
      %textarea{name: 'text', required: true, placeholder: 'Post a message...', tabindex: 1, autofocus: 1}
      %br
      %button{type: 'submit', tabindex: 2}
        Post

- unless the_bout.nil?
  %p
    Tags:
    %span.click{onclick: '$("#tags").toggle(); $("#tags-name").focus();'}
      = '+'
    %br
    - bout.tags.each do |tag|
      %code= "#{tag.name}=#{tag.value}"
  %form{action: iri.cut('/b').append(the_bout).append('/tag'), method: 'post', id: 'tags', style: 'display: none;'}
    %fieldset
      %input{name: 'name', type: 'text', required: true, size: 8, placeholder: 'Tag', tabindex: 3, id: 'tags-name'}
      %input{name: 'value', type: 'text', size: 20, placeholder: 'Value', tabindex: 4}
      %button{type: 'submit', tabindex: 5}
        Put
  %p
    Owned by
    %code= bout.owner
    = '/'
    Guests:
    - bout.guests.each do |guest|
      %code= "#{guest}"
    %span.click{onclick: '$("#invite").toggle(); $("#invite-human").focus();'}
      = '+'
  %form{action: iri.cut('/b').append(the_bout).append('/invite'), method: 'post', id: 'invite', style: 'display: none;'}
    %fieldset
      %input{name: 'human', type: 'text', required: true, size: 12, placeholder: 'Identity', tabindex: 6, id: 'invite-human'}
      %button{type: 'submit', tabindex: 7}
        Invite

- total = 0
- current_human.search(query, offset, limit).each do |msg|
  %p
    - if the_bout.nil?
      %a{href: iri.cut('/b').append(msg.bout.id)}= "##{msg.bout.id}"
      = '/'
    = "##{msg.id}"
    by
    %code= msg.author.identity
    on
    = msg.created
    %span.click{onclick: "$('#flags-#{msg.id}').toggle(); $('#flags-#{msg.id}-name').focus();"}
      +
    %br
    = msg.text
    %br
    - msg.flags.each do |flag|
      %code
        = flag.name
        != '&nbsp;'
        %a.click{href: iri.cut('/m').append(msg.id).append('detach').add(name: flag.name)}= 'x'
    %form{action: iri.cut('/m').append(msg.id).append('/attach'), method: 'post', id: "flags-#{msg.id}", style: 'display: none;'}
      %fieldset
        %input{name: 'name', type: 'text', required: true, size: 12, placeholder: 'Flag', id: "flags-#{msg.id}-name"}
        %button{type: 'submit'}
          Flag
  - total += 1

%p
  - if offset > 0
    %a{href: iri.over(offset: [offset - limit, 0].max)}
      prev
  - if total == limit
    %a{href: iri.over(offset: offset + limit)}
      next

- if total.zero?
  %p
    Inbox is empty.
