%form{action: iri, method: 'get'}
  %fieldset
    %input{name: 'q', type: 'text', value: query.predicate.to_s}
    %button{type: 'submit'}
      Search

- query.predicate.if_bout do |b|
  %form{action: iri.cut('/post'), method: 'post'}
    %fieldset
      %input{name: 'bout', type: 'hidden', value: b}
      %textarea{name: 'text', placeholder: 'Post a message...', tabindex: 1, autofocus: 1}
      %br
      %button{type: 'submit', tabindex: 2}
        Post

- total = 0
- current_human.search(query, offset, limit).each do |msg|
  %p
    %a{href: iri.cut('/b').append(msg.bout.id)}
      = "##{msg.bout.id}"
    = '/'
    = "##{msg.id}"
    = msg.text
  - total += 1

%p
  - if offset > 0
    %a{href: iri.over(offset: [offset - limit, 0].max)}
      prev
  - if total == limit
    %a{href: iri.over(offset: offset + limit)}
      next

- if total.zero?
  %p
    Inbox is empty.
