!!! 5
%html
  %head
    %title= title
    %meta{charset:'UTF-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %meta{name: 'keywords', content: 'risks, risk management, risk quality, risk quantity'}
    %meta{name: 'description', content: 'Private Talks Made Easy'}
    %link{href: 'https://cdn.jsdelivr.net/gh/yegor256/tacit@gh-pages/tacit-css.min.css', rel: 'stylesheet'}
    %link{href: 'https://cdn.jsdelivr.net/gh/yegor256/drops@gh-pages/drops-css.min.css', rel: 'stylesheet'}
    %link{rel: 'shortcut icon', href: iri.cut('/icon.svg')}
    %script{src: 'https://code.jquery.com/jquery-3.3.1.min.js'}
    :css
      .logo { width: 128px; height: 128px; }
      article { border: none; }
      footer nav ul, header nav ul { text-align: left; margin-bottom: 1px; }
  %body
    %section
      %header.small
        %nav
          %ul
            %li
              %a{href: url('/')}
                %img.logo{src: iri.cut('/logo.svg'), alt: 'Logo'}
        %nav
          %ul
            %li
              - if defined?(user)
                %span Hello
              - else
                %a{href: login_link}
                  Login
            - if defined?(user)
              %li
                %a{href: iri.cut('/logout')}
                  Logout
        - if defined?(flash_msg) && !flash_msg.empty?
          %p{style: 'background-color:' + flash_color + ';color:white;padding:.1em .5em;border-radius:4px;width:100%;'}
            = flash_msg
      %article
        != yield
      %footer.small.gray
        %nav
          %ul
            %li
              &copy;
              ="2009&ndash;#{Time.now.year}"
              %a{href: 'https://www.netbout.com'} Netbout
            %li
              %a{href: iri.cut('/terms')} Terms of Use
        %nav
          %ul
            %li{title: 'PostgreSQL version'}
              = "pg:#{settings.pgsql.version}"
            %li{title: 'Your IP address visible to the server'}
              %a{href: 'https://iplocation.com/?ip=' + request_ip}
                = request_ip
            %li{title: 'This request processing time'}
              = "#{((Time.now - http_start) * 1000).round}ms"
        %nav
          %ul
            %li
              %a{href: 'https://github.com/yegor256/netbout/stargazers'}<
                %img{src: 'https://img.shields.io/github/stars/yegor256/netbout.svg?style=flat-square', alt: 'GitHub'}
            %li
              %a{href: 'https://www.sixnines.io/h/6fb0'}<
                %img{src: 'https://www.sixnines.io/b/6fb0?style=flat', alt: 'SixNines'}
