%h2
  SQL

%form{ method: 'GET', action: iri.cut('/sql') }
  %fieldset
    %textarea{ name: 'query', required: true, tabindex: 1, autofocus: true, style: 'width: 100%; height: 9em; font-family: monospace;' }
      &= query
    %input{ type: 'submit', tabindex: 2, value: 'Query' }

%p
  Time:
  = "#{format('%.02f', lag)}s"

- max = 100

- if result.empty?
  %p
    Empty result.
- else
  %table.compact
    %thead
      %tr
        - result[0].each_key do |k|
          %th= k
    %tbody
      - result.take(max).each do |r|
        %tr
          - r.each do |_k, v|
            %td
              - if v.nil?
                != '&mdash;'
              - else
                != CGI.escapeHTML(v).gsub(/([^ ]{4})/, '\1&shy;')
  - if result.count > max
    %p
      There are
      %strong= result.count
      rows (more than you see above).
